table
{
    border: 1px solid #333;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

th
{
    background: #333;
    color: #FFF;
}

td, th
{
    padding: 5px 3px;
    text-align: left;
    vertical-align: middle;
}

tr:nth-child(even)
{
    background: #EEEEE8;
}
ValidationSummary {

    color:red;
}
#HyperLink1 {

    float:right;
    clear:left;
    clear:right;
}
#OkDiv {

    width:400px;
    height:40px;
    background-color:limegreen;
    border-style:solid;
    border-width:thin;
    text-align:center;
}